@{
    ViewData["Title"] = "Calculation Result";
}

<h2>Insulin Calculation Result</h2>

<p>Insulin: @ViewBag.Insulin</p>
<p>Insulin Correction: @ViewBag.InsulinCorrection</p>
<p>Insulin Total: @ViewBag.InsulinTotal</p>
<a href="/Insulin/Index">Go Back</a>
